
/*
Color scheme
blue: #98D7E6
salmon: #FC8571
yellow: #FFDB70
off-white: #F7F8FA
*/

html,body{
    background:#98D7E6;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
}

#main-game-container{
    background:#FFDB70;
    border-radius:5px;
    height:300px;
    width:500px;
    /*border:dotted 4px;*/
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.750);
}

#title-container{
    display: flex;
    justify-content: center;
    margin-top:20px;
    /*background:green;*/
}

#guessing-container{
    display:flex;
    justify-content: center;
    margin-top:20px;
    /*background:red;*/
}

#incorrect-guesses-container{
    display:flex;
    justify-content: space-evenly;
    width:auto;
    margin-top:20px;
    /*background:red;*/
}

.incorrect-guess{
    border:solid black 1px;
    width:40px;
    height:40px;
    border-radius:5px;
    background:#ffebb0;
}

#hint-play-again-container{
    display:flex;
    justify-content: center;
    margin-top:20px;
    /*background:blue;*/
}